# Django
SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,facturation.elbouazzatiholding.ma
ACCOUNT_DEFAULT_HTTP_PROTOCOL=http

# Database (PostgreSQL)
POSTGRES_DB="contracts_db"
POSTGRES_USER="contracts_user"
POSTGRES_PASSWORD="contracts_password"
# Name of the postgres service in docker-compose.yml
#POSTGRES_HOST="db"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"

# Redis
# Name of redis service in docker-compose.yml
REDIS_HOST=localhost
#REDIS_HOST="redis" # Name of redis service in docker-compose.yml
REDIS_PORT="6379"

API_URL="http://127.0.0.1:8000"
FRONTEND_URL=http://localhost:3000
# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000
CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
DEFAULT_FROM_EMAIL=your-email@gmail.com
