Django==5.2.8
django-filter==25.2
python-decouple==3.8
psycopg2-binary==2.9.11
gunicorn==23.0.0
whitenoise==6.11.0
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
PyJWT==2.10.1
django-cors-headers==4.9.0
dj-rest-auth==7.0.1
redis==7.1.0
channels==4.3.1
channels-redis==4.3.0
daphne==4.2.1
celery==5.5.3
gevent==25.9.1
asgiref==3.11.0
Pillow==12.0.0
six==1.17.0
standard-imghdr==3.13.0
opencv-python==4.12.0.88
opencv-contrib-python==4.12.0.88
pytest==9.0.1
pytest-django==4.11.1
# 2.3.0 required for opencv
numpy==2.3.0